input{
 min-height: 2rem !important;
 max-height: 2rem !important;
 min-width: 180px !important;
 max-width: 180px !important;
}

h1{
 font-family: 'Rubik Iso', cursive;
 /*font-family: 'Space Mono', monospace;*/
 /*font-family: 'Special Elite', cursive;*/
}

.mH2r{
 max-height: 2rem !important;
}

.disable-color{
 color: rgba(75, 74, 74, 0.85) !important;
}

/*button:hover{*/
/* color: #f5f4f4 !important;*/
/* transition: color 0.5s;*/
/*}*/

.changeButton{
 background-color: rgba(0, 128, 0, 0.40) !important;
}

.changeButton:hover{
 background-color: rgba(0, 128, 0, 0.70) !important;
 color: #f5f4f4 !important;
 transition: all 0.5s;
}

.removeButton{
 background-color: rgba(171, 2, 2, 0.55) !important;
}

.removeButton:hover{
 background-color: rgba(171, 2, 2, 0.70) !important;
 color: #f5f4f4 !important;
 transition: all 0.5s;
}

.applyButton{
 background-color: rgba(0, 0, 255, 0.30) !important;
}

.applyButton:hover{
 background-color: rgba(0, 0, 255, 0.70) !important;
 color: #f5f4f4 !important;
 transition: all 0.5s;
}

/*colors*/
.col1{
 color: #646363 !important;
}

/*background-colors*/

.bgCol1{
 background-color: #e7e4e4 !important;
}

.bgCol2{
 /*background-color: #a9a7a7 !important;*/
 background-color: rgba(169, 167, 167, 0.60) !important;
}

