input{
 min-height: 2rem !important;
 max-height: 2rem !important;
 min-width: 180px !important;
 max-width: 180px !important;
}

h1{
 font-family: 'Rubik Iso', cursive;
 color: #6A1D2F !important;
}

.mH2r{
 max-height: 2rem !important;
}

.paperHeight{
 min-height: 750px;
}

.disable-color{
 color: rgba(75, 74, 74, 0.85) !important;
}

.changeButton{
 background-color: rgba(0, 128, 0, 0.40) !important;
}

.changeButton:hover{
 background-color: rgba(0, 128, 0, 0.70) !important;
 color: #f5f4f4 !important;
 transition: all 0.5s;
}

.removeButton{
 background-color: rgba(171, 2, 2, 0.55) !important;
}

.removeButton:hover{
 background-color: rgba(171, 2, 2, 0.70) !important;
 color: #f5f4f4 !important;
 transition: all 0.5s;
}

.applyButton{
 background-color: rgba(53, 76, 60, 0.5) !important;
}

.applyButton:hover{
 background-color: #354C3C!important;
 color: #f5f4f4 !important;
 transition: all 0.5s;
}

/*colors*/
.col1{
 color: #646363 !important;
}

/*background-colors*/
.bgCol1{
 background-color: rgba(155, 70, 31, 0.91) !important;
}

.bgCol2{
 background-color: #DEA450 !important;
}

.bgCol3{
 background-color: rgba(255, 255, 255, 0.85) !important;
}

/*shadow*/
.mainDivShadow{
 box-shadow: #6A1D2F 2px 0 10px 4px;
}

